# The `name` is set so that Hydrogen will work in it by default
'scopeName': 'source.dyndoc.latex.stata'
'name': 'Stata'
'fileTypes': [
  'dotex'
]
'patterns': [
  {
    'include': 'source.dyndoc.stata'
  }
  {
    'include': 'text.tex.latex'
  }
]
