'.source.stata':
  autocomplete:
    symbols:
      class:
        selector: '.class.name, .entity.name.type.class'
      function:
        selector: '.function'
        suggestions: [
          'bofd'
          'Cdhms'
          'Chms'
          'Clock'
          'clock'
          'Cmdyhms'
          'Cofc'
          'cofC'
          'Cofd'
          'cofd'
          'daily'
          'date'
          'day'
          'dhms'
          'dofb'
          'dofC'
          'dofc'
          'dofh'
          'dofm'
          'dofq'
          'dofw'
          'dofy'
          'dow'
          'doy'
          'halfyear'
          'halfyearly'
          'hh'
          'hhC'
          'hms'
          'hofd'
          'hours'
          'mdy'
          'mdyhms'
          'minutes'
          'mm'
          'mmC'
          'mofd'
          'month'
          'monthly'
          'msofhours'
          'msofminutes'
          'msofseconds'
          'qofd'
          'quarter'
          'quarterly'
          'seconds'
          'ss'
          'ssC'
          'tC'
          'tc'
          'td'
          'th'
          'tm'
          'tq'
          'tw'
          'week'
          'weekly'
          'wofd'
          'year'
          'yearly'
          'yh'
          'ym'
          'yofd'
          'yq'
          'yw'
          'betaden'
          'ibeta'
          'ibetatail'
          'invibeta'
          'invibetatail'
          'nbetaden'
          'nibeta'
          'invnibeta'
          'binomialp'
          'binomial'
          'binomialtail'
          'invbinomial'
          'invbinomialtail'
          'cauchyden'
          'cauchy'
          'cauchytail'
          'invcauchy'
          'invcauchytail'
          'lncauchyden'
          'chi2den'
          'chi2'
          'chi2tail'
          'invchi2'
          'invchi2tail'
          'nchi2den'
          'nchi2'
          'nchi2tail'
          'invnchi2'
          'invnchi2tail'
          'npnchi2'
          'dunnettprob'
          'invdunnettprob'
          'exponentialden'
          'exponential'
          'exponentialtail'
          'invexponential'
          'invexponentialtail'
          'Fden'
          'F'
          'Ftail'
          'invF'
          'invFtail'
          'nFden'
          'nF'
          'nFtail'
          'invnF'
          'invnFtail'
          'npnF'
          'gammaden'
          'gammap'
          'gammaptail'
          'invgammap'
          'invgammaptail'
          'dgammapda'
          'dgammapdada'
          'dgammapdadx'
          'dgammapdx'
          'dgammapdxdx'
          'lnigammaden'
          'hypergeometricp'
          'hypergeometric'
          'igaussianden'
          'igaussian'
          'igaussiantail'
          'invigaussian'
          'invigaussiantail'
          'lnigaussianden'
          'laplaceden'
          'laplace'
          'laplacetail'
          'invlaplace'
          'invlaplacetail'
          'lnlaplaceden'
          'logisticden'
          'logisticden'
          'logisticden'
          'logistic'
          'logistic'
          'logistic'
          'logistictail'
          'logistictail'
          'logistictail'
          'invlogistic'
          'invlogistic'
          'invlogistic'
          'invlogistictail'
          'invlogistictail'
          'invlogistictail'
          'nbinomialp'
          'nbinomial'
          'nbinomialtail'
          'invnbinomial'
          'invnbinomialtail'
          'normalden'
          'normalden'
          'normalden'
          'normal'
          'invnormal'
          'lnnormalden'
          'lnnormalden'
          'lnnormalden'
          'lnnormal'
          'binormal'
          'lnmvnormalden'
          'poissonp'
          'poisson'
          'poissontail'
          'invpoisson'
          'invpoissontail'
          'tden'
          't'
          'ttail'
          'invt'
          'invttail'
          'invnt'
          'invnttail'
          'ntden'
          'nt'
          'nttail'
          'npnt'
          'tukeyprob'
          'invtukeyprob'
          'weibullden'
          'weibullden'
          'weibull'
          'weibull'
          'weibulltail'
          'weibulltail'
          'invweibull'
          'invweibull'
          'invweibulltail'
          'invweibulltail'
          'weibullphden'
          'weibullphden'
          'weibullph'
          'weibullph'
          'weibullphtail'
          'weibullphtail'
          'invweibullph'
          'invweibullph'
          'invweibullphtail'
          'invweibullphtail'
          'lnwishartden'
          'lniwishartden'
          'abs'
          'ceil'
          'cloglog'
          'comb'
          'digamma'
          'exp'
          'floor'
          'int'
          'invcloglog'
          'invlogit'
          'ln'
          'lnfactorial'
          'lngamma'
          'log'
          'log10'
          'logit'
          'max'
          'min'
          'mod'
          'reldif'
          'round'
          'sign'
          'sqrt'
          'sum'
          'trigamma'
          'trunc'
          'cholesky'
          'corr'
          'diag'
          'get'
          'hadamard'
          'I'
          'inv'
          'invsym'
          'J'
          'matuniform'
          'nullmat'
          'sweep'
          'vec'
          'vecdiag'
          'coleqnumb'
          'colnfreeparms'
          'colnumb'
          'colsof'
          'det'
          'diag0cnt'
          'el'
          'issymmetric'
          'matmissing'
          'mreldif'
          'roweqnumb'
          'rownfreeparms'
          'rownumb'
          'rowsof'
          'trace'
          'autocode'
          'byteorder'
          'c'
          'chop'
          'clip'
          'cond'
          'e'
          'e'
          'epsdouble'
          'epsfloat'
          'fileexists'
          'fileread'
          'filereaderror'
          'filewrite'
          'float'
          'fmtwidth'
          'inlist'
          'inrange'
          'irecode'
          'matrix'
          'maxbyte'
          'maxdouble'
          'maxfloat'
          'maxint'
          'maxlong'
          'mi'
          'minbyte'
          'mindouble'
          'minfloat'
          'minint'
          'minlong'
          'missing'
          'r'
          'recode'
          'replay'
          'return'
          's'
          'scalar'
          'smallestdouble'
          'runiform'
          'runiform'
          'runiformint'
          'rbeta'
          'rbinomial'
          'rcauchy'
          'rchi2'
          'rexponential'
          'rgamma'
          'rhypergeometric'
          'rigaussian'
          'rlaplace'
          'rlogistic'
          'rlogistic'
          'rlogistic'
          'rnbinomial'
          'rnormal'
          'rnormal'
          'rnormal'
          'rpoisson'
          'rt'
          'rweibull'
          'rweibull'
          'rweibullph'
          'rweibullph'
          'abbrev'
          'char'
          'uchar'
          'collatorlocale'
          'collatorversion'
          'indexnot'
          'plural'
          'plural'
          'real'
          'regexm'
          'regexr'
          'regexs'
          'ustrregexm'
          'ustrregexrf'
          'ustrregexra'
          'ustrregexs'
          'soundex'
          'strcat'
          'strdup'
          'string'
          'string'
          'stritrim'
          'strlen'
          'ustrlen'
          'udstrlen'
          'strlower'
          'ustrlower'
          'strltrim'
          'ustrltrim'
          'strmatch'
          'strofreal'
          'strofreal'
          'strpos'
          'ustrpos'
          'strproper'
          'ustrtitle'
          'strreverse'
          'ustrreverse'
          'strrpos'
          'ustrrpos'
          'strrtrim'
          'ustrrtrim'
          'strtoname'
          'ustrtoname'
          'strtrim'
          'ustrtrim'
          'strupper'
          'ustrupper'
          'subinstr'
          'usubinstr'
          'subinword'
          'substr'
          'usubstr'
          'udsubstr'
          'tobytes'
          'uisdigit'
          'uisletter'
          'ustrcompare'
          'ustrcompareex'
          'ustrfix'
          'ustrfrom'
          'ustrinvalidcnt'
          'ustrleft'
          'ustrnormalize'
          'ustrright'
          'ustrsortkey'
          'ustrsortkeyex'
          'ustrto'
          'ustrtohex'
          'ustrunescape'
          'word'
          'ustrword'
          'wordbreaklocale'
          'wordcount'
          'ustrwordcount'
          'tin'
          'twithin'
          'acos'
          'acosh'
          'asin'
          'asinh'
          'atan'
          'atan2'
          'atanh'
          'cos'
          'cosh'
          'sin'
          'sinh'
          'tan'
          'tanh'
          'mi'
          'trim'
          'itrim'
        ]
      method:
        suggestions: [
          'graph'
          'graph bar'
          'graph box'
          'graph close'
          'graph combine'
          'graph copy'
          'graph describe'
          'graph dir'
          'graph display'
          'graph dot'
          'graph drop'
          'graph export'
          'graph manipulation'
          'graph matrix'
          'graph other'
          'graph pie'
          'graph play'
          'graph print'
          'graph query'
          'graph rename'
          'graph replay'
          'graph save'
          'graph set'
          'graph twoway'
          'graph twoway area'
          'graph twoway bar'
          'graph twoway connected'
          'graph twoway contour'
          'graph twoway contourline'
          'graph twoway dot'
          'graph twoway dropline'
          'graph twoway fpfit'
          'graph twoway fpfitci'
          'graph twoway function'
          'graph twoway histogram'
          'graph twoway kdensity'
          'graph twoway lfit'
          'graph twoway lfitci'
          'graph twoway line'
          'graph twoway lowess'
          'graph twoway lpoly'
          'graph twoway lpolyci'
          'graph twoway mband'
          'graph twoway mspline'
          'graph twoway pcarrow'
          'graph twoway pcarrowi'
          'graph twoway pccapsym'
          'graph twoway pci'
          'graph twoway pcscatter'
          'graph twoway pcspike'
          'graph twoway qfit'
          'graph twoway qfitci'
          'graph twoway rarea'
          'graph twoway rbar'
          'graph twoway rcap'
          'graph twoway rcapsym'
          'graph twoway rconnected'
          'graph twoway rline'
          'graph twoway rscatter'
          'graph twoway rspike'
          'graph twoway scatter'
          'graph twoway scatteri'
          'graph twoway spike'
          'graph twoway tsline'
          'graph use'
          'palette'
          'set graphics'
          'set printcolor'
          'set scheme'
        ]