'.platform-darwin atom-text-editor[data-grammar="source dyndoc md stata"]':
  'cmd-shift-x': 'markdown:toggle-task'
'.platform-win32 atom-text-editor[data-grammar="source dyndoc md stata"]':
  'ctrl-shift-x': 'markdown:toggle-task'
'.platform-linux atom-text-editor[data-grammar="source dyndoc md stata"]':
  'ctrl-shift-x': 'markdown:toggle-task'

'atom-text-editor[data-grammar="source dyndoc md stata"]':
  'tab': 'markdown:indent-list-item'
  'shift-tab': 'markdown:outdent-list-item'
  '_': 'markdown:emphasis'
  '*': 'markdown:strong-emphasis'
  '~': 'markdown:strike-through'
  '@': 'markdown:link'
  '!': 'markdown:image'

'.platform-darwin atom-text-editor[data-grammar="source webdoc stata"]':
  'cmd-shift-x': 'markdown:toggle-task'
'.platform-win32 atom-text-editor[data-grammar="source webdoc stata"]':
  'ctrl-shift-x': 'markdown:toggle-task'
'.platform-linux atom-text-editor[data-grammar="source webdoc stata"]':
  'ctrl-shift-x': 'markdown:toggle-task'

'atom-text-editor[data-grammar="source webdoc stata"]':
  'tab': 'markdown:indent-list-item'
  'shift-tab': 'markdown:outdent-list-item'
  '_': 'markdown:emphasis'
  '*': 'markdown:strong-emphasis'
  '~': 'markdown:strike-through'
  '@': 'markdown:link'
  '!': 'markdown:image'
